.filterPrice{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}
.filterPrice__price{
    font-weight: 600;
    margin-top: 0.7rem;
}
.filterPrice__form{
   
    padding: 0.5rem;
}
.filterPrice__form__label{
   display: flex;
   flex-direction: column;
  
}
.filterPrice__item{
    font-size: 0.9rem;
    padding: 0.5rem;
}
.filterPrice__item__value{
    border: 1px solid rgb(182, 179, 179);
    padding: 0.4rem;
}
.filterPrice__item__button{
    padding: 0.4rem;
    color: white;
    background-color: rgb(248, 59, 59);
    margin-top: 0.9rem;
    width: 100%;
}